name: Build and Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      # Логин в Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}      # Из Variables
          password: ${{ secrets.DOCKER_PASSWORD }}   # Из Secrets (токен!)
      
      # Собрать образ
      - name: Build Docker image
        run: docker build -t ${{ vars.DOCKER_USERNAME }}/pelikan-admin:latest .
      
      # Запушить образ
      - name: Push Docker image to Docker Hub
        run: docker push ${{ vars.DOCKER_USERNAME }}/pelikan-admin:latest
      
      # Деплой на VPS
      - name: Deploy on VPS with SSH
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /opt/pelikan-admin-docker
            docker pull ${{ vars.DOCKER_USERNAME }}/pelikan-admin:latest
            docker-compose down
            docker-compose up -d
